<!DOCTYPE html>
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>FoodBar Html Template</title>
	<link rel="icon" href="login_arquivos/logo.png" type="image/gif" sizes="16x16">
	<link rel="icon" href="login_arquivos/logo.png" type="image/gif" sizes="18x18">
	<link rel="icon" href="login_arquivos/logo.png" type="image/gif" sizes="20x20">

	<link rel="stylesheet" href="login_arquivos/bootstrap.min.css">
	<link rel="stylesheet" href="login_arquivos/fontawesome.all.min.css">
	<link rel="stylesheet" href="login_arquivos/owl.carousel.min.css">
	<link rel="stylesheet" href="login_arquivos/owl.theme.default.min.css">
	<link rel="stylesheet" href="login_arquivos/slick.css">
	<link rel="stylesheet" href="login_arquivos/slick-theme.css">
	<link rel="stylesheet" href="login_arquivos/animate.css">
	<link rel="stylesheet" href="login_arquivos/normalize.css">
	<link rel="stylesheet" href="login_arquivos/mega-menu.css">
	<link rel="stylesheet" href="login_arquivos/jquery-ui.min.css">
	<link rel="stylesheet" href="login_arquivos/defult.css">
	<link rel="stylesheet" href="login_arquivos/style.css">
	<link rel="stylesheet" href="login_arquivos/responsive.css">

</head>
<body>
	<div id="preloader" style="display: none;">
			<div class="loader">
	      <span class="loader-inner-1"></span>
	      <span class="loader-inner-2"></span>
	      <span class="loader-inner-3"></span>
	      <span class="loader-inner-4"></span>
			</div>
	</div>
	<header class="header">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 align-self-center">
						<div class="logo logo-d-none">
							<a href="https://preetheme.com/liton/foodbar/index.html"><img src="login_arquivos/logo.png" alt="logo"></a>
						</div>
					</div>
					<div class="col-xl-7 col-lg-7 col-md-8 col-sm-6 col-2 align-self-center">
						 <div class="d-none d-lg-block">
                            <div class="header-menu">
							<!--AkHAN THEKE MENU KAJ SURU-->
							<div class="header-horizontal-menu">
								<ul class="menu-content">
									<li><a href="https://preetheme.com/liton/foodbar/index.html">Home <i class="fas fa-angle-down"></i></a>
										<ul class="sub-menu">
											<li><a href="https://preetheme.com/liton/foodbar/index.html">Home 01</a></li>
											<li><a href="https://preetheme.com/liton/foodbar/index2.html">Home 02</a></li>
										</ul>
									</li>
									<li><a href="https://preetheme.com/liton/foodbar/about.html">About</a></li>
									<li><a href="https://preetheme.com/liton/foodbar/index.html">Page <i class="fas fa-angle-down"></i></a>
										<ul class="sub-menu">
											<li><a href="https://preetheme.com/liton/foodbar/team.html">Team</a></li>
											<li><a href="https://preetheme.com/liton/foodbar/cart.html">Cart</a></li>
											<li><a href="https://preetheme.com/liton/foodbar/checkout.html">Checkout</a></li>
											<li><a href="https://preetheme.com/liton/foodbar/product-details.html">Product Details</a></li>
											<li><a href="https://preetheme.com/liton/foodbar/service.html">Service</a></li>
											<li><a href="https://preetheme.com/liton/foodbar/service_details.html">Service Details</a></li>
											<li><a href="https://preetheme.com/liton/foodbar/login.html">Login</a></li>
											<li><a href="https://preetheme.com/liton/foodbar/register.html">Register</a></li>
											<li><a href="https://preetheme.com/liton/foodbar/404.html">404</a></li>
										</ul>
									</li>
									<li class="position-static"><a href="#">Shop <i class="fas fa-angle-down"></i></a>
										<ul class="mega-sub-menu d-flex flex-wrap">
											<li>
												<a class="menu-title" href="#">Shop Grid</a>
												<ul class="submenu-item">
													<li><a href="https://preetheme.com/liton/foodbar/shop.html">Shop Grid Column 3</a></li>
													<li><a href="https://preetheme.com/liton/foodbar/shop_left_side.html">Shop left Column 3</a></li>
													<li><a href="https://preetheme.com/liton/foodbar/shop_left_side.html">Shop left sidebar</a></li>
												</ul>
											</li>
											<li>
												<a class="menu-title" href="#">Categoris</a>
												<ul class="submenu-item">
													<li><a href="https://preetheme.com/liton/foodbar/product-details.html">Pizza</a></li>
													<li><a href="https://preetheme.com/liton/foodbar/product-details.html">Burgers</a></li>
													<li><a href="https://preetheme.com/liton/foodbar/product-details.html">Pasta</a></li>
												</ul>
											</li>
											<li>
												<a class="menu-title" href="#">Service</a>
												<ul class="submenu-item">
													<li><a href="https://preetheme.com/liton/foodbar/service.html">Service</a></li>
													<li><a href="https://preetheme.com/liton/foodbar/service_details.html">Service Details</a></li>
													<li><a href="https://preetheme.com/liton/foodbar/service_details.html">Service left</a></li>
												</ul>
											</li>
											<li>
												<a class="menu-title" href="#">Shop Gallery</a>
												<ul class="submenu-item">
													<li><a href="https://preetheme.com/liton/foodbar/gallery.html">Shop Gallery</a></li>
													<li><a href="https://preetheme.com/liton/foodbar/gallery.html">Shop Gallery Left sidebar</a></li>
													<li><a href="https://preetheme.com/liton/foodbar/gallery.html">Shop Gallery Right sidebar</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li><a href="https://preetheme.com/liton/foodbar/blog.html">Blog</a></li>
									<li><a href="https://preetheme.com/liton/foodbar/contact.html">Contact</a></li>
								</ul>
							</div>
			            </div> <!-- header menu -->
			        	</div> <!-- desktop nav -->
						<!--Mobile Nav Menu-->
				        <div class="d-lg-none">
				            <!--Bar-->
				            <div class="logo mobile-bar-logo">
								<a href="https://preetheme.com/liton/foodbar/index.html"><img src="login_arquivos/logo.png" alt="logo"></a>
							</div> <!-- mobile logo -->
							<div class="mobile-toggle">
								<a class="mobile-menu-open" href="javascript:;"><i class="fas fa-bars"></i></a>
							</div>             
				            <div class="mobile-off-canvas-menu">
				            	<div class="logo">
									<a href="https://preetheme.com/liton/foodbar/index.html"><img src="login_arquivos/logo.png" alt="logo"></a>
								</div> <!-- mobile logo -->
				                <div class="mobile-canvas-close close-mobile-menu">
				                    <p>Menu <i class="fas fa-arrow-left"></i></p>
				                </div>
				                <div class="mobile-main-menu">
				                    <ul class="menu-content">
				                        <li class="menu-item-has-children active"><span class="mobile-menu-expand"></span><a href="#">Home <i class="fal fa-chevron-down"></i></a>
				                            <ul class="sub-menu" style="display: none;">
				                                <li><a href="https://preetheme.com/liton/foodbar/index.html">Home 01</a></li>
				                                <li><a href="https://preetheme.com/liton/foodbar/index2.html">Home 02</a></li>
				                            </ul>
				                        </li>
				                        <li><a href="https://preetheme.com/liton/foodbar/about.html">About</a></li>
				                        <li class="menu-item-has-children"><span class="mobile-menu-expand"></span><a href="#">Pages<i class="fal fa-chevron-down"></i></a>
				                            <ul class="mega-sub-menu" style="display: none;">
				                                <li class="menu-item-has-children"><span class="mobile-menu-expand"></span>
				                                    <a class="menu-title" href="#">Shop Grid</a>
				                                    <ul class="submenu-item" style="display: none;">
				                                        <li><a href="https://preetheme.com/liton/foodbar/shop.html">Shop Grid Right</a></li>
				                                        <li><a href="https://preetheme.com/liton/foodbar/shop_left.html">Shop Grid Left</a></li>
				                                    </ul>
				                                </li>
				                                <li class="menu-item-has-children"><span class="mobile-menu-expand"></span>
				                                    <a class="menu-title" href="#">Service</a>
				                                    <ul class="submenu-item" style="display: none;">
				                                        <li><a href="https://preetheme.com/liton/foodbar/service.html">Service</a></li>
				                                        <li><a href="https://preetheme.com/liton/foodbar/service_details.html">service Details</a></li>
				                                    </ul>
				                                </li>
				                                <li class="menu-item-has-children"><span class="mobile-menu-expand"></span>
				                                    <a class="menu-title" href="#">Shop Single</a>
				                                    <ul class="submenu-item" style="display: none;">
				                                        <li><a href="https://preetheme.com/liton/foodbar/team.html">team</a></li>
				                                        <li><a href="https://preetheme.com/liton/foodbar/cart.html">cart</a></li>
				                                        <li><a href="https://preetheme.com/liton/foodbar/checkout.html">Checkout</a></li>
				                                        <li><a href="https://preetheme.com/liton/foodbar/wishlist.html">Wishlist</a></li>
				                                        <li><a href="https://preetheme.com/liton/foodbar/login.html">login</a></li>
				                                        <li><a href="https://preetheme.com/liton/foodbar/register.html">Registrtion</a></li>
				                                    </ul>
				                                </li>
				                                <li class="menu-item-has-children"><span class="mobile-menu-expand"></span>
				                                    <a class="menu-title" href="#">Gallery</a>
				                                    <ul class="submenu-item" style="display: none;">
				                                        <li><a href="https://preetheme.com/liton/foodbar/gallery.html">gallery</a></li>
				                                        <li><a href="https://preetheme.com/liton/foodbar/gallery.html"> Gallery Details</a></li> 
				                                    </ul>
				                                </li>
				                            </ul>
				                        </li>
				                        <li class="menu-item-has-children"><span class="mobile-menu-expand"></span><a href="https://preetheme.com/liton/foodbar/blog.html">Blog <i class="fal fa-chevron-down"></i></a>
				                            <ul class="sub-menu" style="display: none;">
				                                <li class="menu-item-has-children"><span class="mobile-menu-expand"></span><a href="https://preetheme.com/liton/foodbar/blog.html">Blog Grid <i class="fal fa-chevron-right"></i></a>
				                                    <ul class="sub-menu" style="display: none;">
				                                        <li><a href="#">Blog Grid Left Slider</a></li>
				                                        <li><a href="#">Blog Grid Right Slider</a></li>
				                                    </ul>
				                                </li>
				                                <li class="menu-item-has-children"><span class="mobile-menu-expand"></span><a href="#">Blog List <i class="fal fa-chevron-right"></i></a>
				                                    <ul class="sub-menu" style="display: none;">
				                                        <li><a href="#">Blog List Left Slider</a></li>
				                                        <li><a href="#">Blog List Right Slider</a></li>
				                                    </ul>
				                                </li>
				                                <li class="menu-item-has-children"><span class="mobile-menu-expand"></span><a href="#">Blog Single <i class="fal fa-chevron-right"></i></a>
				                                    <ul class="sub-menu" style="display: none;">
				                                        <li><a href="#">Blog Single Left Slider</a></li>
				                                        <li><a href="#">Blog Single Right Slider</a></li>
				                                    </ul>
				                                </li>
				                            </ul>
				                        </li>
				                        <li><a href="https://preetheme.com/liton/foodbar/contact.html">Contact</a></li>
				                    </ul>

				                </div> <!-- mobile main menu -->
				            </div> <!-- mobile off canvas menu -->
							
				            <div class="overlay"></div>
							
				        </div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-10  align-self-center">
						<div class="list-area-cart-user">
							<ul>
								<li><a href="javascript:void(0)" id="search-btn"><i class="fas fa-search"></i></a></li>
								<li><a href="https://preetheme.com/liton/foodbar/wishlist.html"><i class="far fa-heart"></i>
								<span>5</span></a>	
								</li>
								<li><a href="javascript:void(0)" id="cart-btn"><i class="fas fa-cart-arrow-down"></i>
								<span>5</span></a>
								</li>
								<li><a href="javascript:void(0)" id="login-btn"><i class="fas fa-user"></i></a></li>
							</ul>
						</div>

						 <form action="#" class="search-form">
					        <input type="search" class="form-control" id="search-box" placeholder="search here...">
					        <button class="fas fa-search"></button>
					    </form>

					    <div class="mini-cart-side">
					    	<div class="cart-header">
					    		<h4>Shopping Cart</h4>
					    		<div class="clse">
					    			<a href="#" id="close-btn"><i class="fas fa-times"></i></a>
					    		</div>
					    	</div>
					    	<div class="shopping-box ">
					    		<img src="login_arquivos/1.png" alt="png">
					    		<div class="box-content">
					    			<h5>Italian cuisine</h5>
					    			<span>$600X2</span>
					    		</div>
					    		<div class="remove">
					    			<a href="#"><i class="fas fa-times"></i></a>
					    		</div>
					    	</div>
					    	<div class="shopping-box ">
					    		<img src="login_arquivos/1.png" alt="png">
					    		<div class="box-content">
					    			<h5>Italian cuisine</h5>
					    			<span>$600X2</span>
					    		</div>
					    		<div class="remove">
					    			<a href="#"><i class="fas fa-times"></i></a>
					    		</div>
					    	</div>
					    	<div class="shopping-box ">
					    		<img src="login_arquivos/1.png" alt="png">
					    		<div class="box-content">
					    			<h5>Italian cuisine</h5>
					    			<span>$600X2</span>
					    		</div>
					    		<div class="remove">
					    			<a href="#"><i class="fas fa-times"></i></a>
					    		</div>
					    	</div>
					    	<div class="min-price">
					    		<h4>subtotal:</h4>
					    		<span>$5550</span>
					    	</div>
					    	<div class="button-bar pt-20 text-center">
					             <a href="#" class="btn btn-lg">
					                <span>View Cart</span>
					            </a>
				            </div>
					    </div>
					    <div class="login-form">

			                <div class="form-container">
			                	<div class="close-lgn">
				    				<a href="javascript:void(0)" id="close-login"><i class="fas fa-times"></i></a>
				    			</div>
			                    <div class="form-icon"><i class="fa fa-user"></i></div>
			                    <h3 class="title">Login</h3>
			                    <form class="form-horizontal">
			                        <div class="form-group">
			                            <label>email</label>
			                            <input class="form-control" type="email" placeholder="email address">
			                        </div>
			                        <div class="form-group">
			                            <label>password</label>
			                            <input class="form-control" type="password" placeholder="password">
			                        </div>
			                        <button type="button" class="btn btn-default">Login</button>
			                    </form>
			                </div>
				        </div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="home-page home-img" style="background: url('assets/img/banner/page.jpg');">
	 	<div class="container">
	 		<div class="row">
	 			<div class="col-lg-12">
	 				<div class="page-content">
	 					<div class="page-text">
	 						<h4>Wellcome to Our Resturent</h4>
		 			   		 <h2>Registration</h2>
	 					</div>
	 					<div class="page-add">
	 						<ul>
	 							<li><a class="page-active" href="https://preetheme.com/liton/foodbar/index.html">Home</a></li>
	 							<li><a href="https://preetheme.com/liton/foodbar/product-details.html">Register</a></li>
	 						</ul>
	 					</div>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
 </section>  
 <section class="register-page section-padding">
 	<div class="container">
 		<div class="row">
 			<div class="col-lg-6 offset-lg-3">
 				 <div class="login-form-2">
	                <div class="form-container">
	                    <div class="form-icon"><i class="fa fa-user"></i></div>
	                    <h3 class="title">Login</h3>
	                    <form class="form-horizontal">
	                        <div class="form-group">
	                            <label>Name</label>
	                            <input class="form-control" type="text" placeholder=" Name">
	                        </div>
	                        <div class="form-group">
	                            <label>Email</label>
	                            <input class="form-control" type="email" placeholder="Email">
	                        </div>
	                        <div class="form-group">
	                            <label>password</label>
	                            <input class="form-control" type="password" placeholder="password">
	                        </div>
	                        <button type="button" class="btn btn-default">Login</button>
	                    </form>
	                </div>
		        </div>
 			</div>
 		</div>
 	</div>
 </section>
  
<!-- footer-area -->
	<footer id="footer" class="footer-area">
		<div class="container">
			<div class="row pt-20">
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="footer-single">
						<div class="ft-head">
							<div class="logo">
								<a href="https://preetheme.com/liton/foodbar/index.html"><img src="login_arquivos/logo.png" alt="logo"></a>
							</div>
						</div>
						<div class="ft-description">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque odio error quidem distinctio,</p>
						</div>
						<div class="scoial-area">
							<h4>Follow Us:</h4>
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>	
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="problem ">
						<div class="ft-head">
							<h3>Quick Links</h3>
						</div>
						<div class="footer-iteam">
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">My Account</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>	
					</div>
				</div>
				<div class=" col-lg-2 col-md-6 col-sm-6">
					<div class="problem ">
						<div class="ft-head">
							<h3>Categories</h3>
						</div>
						<div class="footer-iteam">
							<ul>
								<li><a href="#">Pizza</a></li>
								<li><a href="#">Pasta</a></li>
								<li><a href="#">Burgers</a></li>
								<li><a href="#">French Fries</a></li>
								<li><a href="#">bread</a></li>
								<li><a href="#">Macaroni</a></li>
							</ul>
						</div>	
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="ft-head">
						<h3>Contact Info</h3>
					</div>
					<div class="footer-iteam">
						<ul>
							<li><a href="#">House no 35, Palmall street,London, England</a></li>
							<li><a href="#"><span>Email:</span></a></li>
							<li><a href="#">info@contact.com</a></li>
							<li><a href="#"><span>Support:</span></a></li>
							<li><a href="#">+1 325 562 3265</a></li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="row row2">
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="ft-bottom-left">
						<p>Copyright ©2022 Foodbar.Allright Recived</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="ft-bottom-left">
						<img src="login_arquivos/index.png" alt="">
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="ft-bottom-right">
						<p>Terms &amp; Condition | Privacy | Support</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
  <!-- scroll -->
 <div class="scroll-area">
       <i class="fa fa-angle-up"></i>
  </div>
  <!-- scroll -->
    <!-- Js File -->
    <script src="login_arquivos/modernizr.min.js"></script>
    <script src="login_arquivos/jquery-3.5.1.min.js"></script>
    <script src="login_arquivos/popper.min.js"></script>
    <script src="login_arquivos/bootstrap.min.js"></script>
    <script src="login_arquivos/owl.carousel.min.js"></script>
    <script src="login_arquivos/jquery.waypoints.min.js"></script>
    <script src="login_arquivos/jquery.nav.min.js"></script>
    <script src="login_arquivos/wow.min.js"></script>
    <script src="login_arquivos/slick.min.js"></script>
    <script src="login_arquivos/ratin.js"></script>
    <script src="login_arquivos/jquery-ui.min.js"></script>
    <script src="login_arquivos/script.js"></script>
 
 

</body></html>